[user]
	email = n_lattessi@hotmail.com
	name = Nahuel Lattessi
[alias]
    ec = config --global -e
    st = status
    up = !git pull --rebase --prune
    co = checkout
    cob = checkout -b
    cm = !git add -A && git commit -m
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
    undo = reset HEAD~1 --mixed
    com = commit -m
